option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application

commands:
  01_install_dependencies:
    command: |
      source /var/app/venv/*/bin/activate
      pip install --upgrade pip
      pip install -r requirements.txt
    cwd: /var/app/current
    ignoreErrors: false
